*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg

.gradle/
build/
*/build/
**/build/

DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

node_modules/
*.tgz
.npmrc
npm-debug.log*
yarn-error.log*
pnpm-debug.log*